#Snickers {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-color: blue;
    background-color: purple;
    font-size: 50px;
    color: white;
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
}