img {
    width: 400px;
}

body { text-align: center;
       text-shadow: white;
       font-family: cursive;
       background-image: url(http://i.dailymail.co.uk/i/pix/2017/04/06/11/3F006CA900000578-4386078-image-a-15_1491475710861.jpg)
    
}

